@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;700 & family= Montserrat:wght@400;600 & display=swap');

:root {
    --branco-principal:#ffffff;
    --cinza-secundario:#c0c0c0;
    --botao-azul:#167bf7;
    --cor-fundo:#00030c;
    --botao-azul-efeito:#e0e0e4;

    --font-principal:'Inter', Sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: Var(--branco-principal);
    font-family: var(--font-principal);    
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat:no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}   

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    border-radius: 2px;
    border: 2px solid var(--branco-principal);
    color: #00030c;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
}

.botao_secundario:hover{
    background-color: var(--botao-azul-efeito);
    color: #00030c;
}

.container__aviso{
    font-size: 12px;
    color:var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    /*nesse caso foi incluido align-items para centralizar o conteudo.*/
    margin: 0em 6em;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);    
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 1em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulos {
    font-size: 48px;
    color: Var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: Var(--branco-principal);
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1.5em;      
}

.lista__link a:hover{
    color: var(--botao-azul);
}


.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}